<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="/css/my_style.css">
        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "{{ .Title }}",
          "description": "{{ .Description }}",
          "image": "https://www.naveenkrishnan.ai/images/my-photo.jpg",
          "url": "{{ .Permalink }}"
        }
        </script>
    </head>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "script.html" . -}}
    </body>
</html>
