<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='content-language' content='en-gb'>
    <!-- Enable Google Analytics -->
    {{ if .Site.Params.googleAnalytics }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ .Site.Params.googleAnalytics }}');
    </script>
    {{ end }}
    <!-- Enable Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&family=Frank+Ruhl+Libre:wght@200;300;400;500;600&family=Encode+Sans+Semi+Condensed:wght@400&display=swap" rel="stylesheet">
    <!-- CSS Styles (including Bootstrap 5 and FontAwesome 6) -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
    <link disabled id="dark-mode-theme" rel="stylesheet" href="/css/dark.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/my_style.css">
    <!-- Site Title -->
    <title>Naveen Kumar Krishnan| Naveen Krishnan| AI | Solutions Architect | Microsoft| Speaker | Writer | Innovator in Cloud & Digital Transformation | Podcasts Guest | Researcher</title>
    <meta name="description" content="Naveen Kumar Krishnan, a Solutions Architect at Microsoft, specializes in AI, cloud architecture, and digital transformation. A BCS Fellow and IEEE Senior Member, he designs intelligent systems that drive efficiency and innovation. Passionate about leveraging AI for real-world impact, Naveen Krishnan aligns business goals with IT strategies to create transformative solutions. As a public speaker, podcast guest, and hackathon judge, he actively contributes to the AI community, sharing insights that inspire and educate. Explore his blogs, talks, and thought leadership at https://www.naveenkrishnan.ai to stay ahead in the AI revolution.">
</head>